<head>
  <% content_for :page_title, "About | Hotel Getaways" %>
</head>


<h1>About Us</h1>
<p>I chose the Hotels dataset from Kaggle (https://www.kaggle.com/datasets/raj713335/tbo-hotels-dataset) and the travel-destinations dataset from a github repo (https://github.com/nghia-t-nguyen/travel-bot-project/blob/main/Travel-Destinations.csv). The data that I'll be using will be about hotels and different tourist attractions. There are 4 tables, Countries, Cities, Hotels and Attractions. I will pull information about the Countries, Cities and Hotels from the hotel dataset. The information for the Attractions table will be pulled from the travel-destinations dataset. The datasets integrate with each other because Hotels are located in Cities and Countries. And Attractions will be located in Cities. Hotels and Attractions are connected to each other through the Cities table.</p>