<head>
  <% content_for :page_title, "Cities | Hotel Getaways" %>
</head>

<div class="container">
  <br>
  <h1 class="title has-text-centered mb-6">Welcome to Hotel Getaways!</h1>
  <p class="subtitle has-text-centered is-size-5">Your ultimate destination for hotel information</p>
  <br>

  <!-- Collection Navigation -->
  <h2 class="subtitle">Cities Collection</h2>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <% @cities.each do |city| %>
        <tr>
          <td><%= link_to city.name, city_path(city) %></td>
          <td><%= city.description %></td>

          <!-- Display flag using flag-icon-css library -->
          <td>
            <span class="flag-icon flag-icon-<%= city.country.country_code.downcase %>"></span>
            <%= link_to city.country.name, country_path(city.country) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
